@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/default";

.app {
  font: var(--font-m);
  min-height: 100dvh;
  background: var(--bg-color);
  color: var(--primary-color);
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}

.ps-2 {
  padding-left: 16px;
}
