.overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-overlay);
}

.content {
    padding: 20px;
    max-width: 60%;
    border-radius: var(--border-radius-xl);
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    scale: 0.5;
    opacity: 0.5;
    transition: all 0.3s;
}

.modal {
    position: fixed;
    inset: 0;
    pointer-events: none;
    opacity: 0;
    z-index: var(--z-index-modal);
    transition: all 0.3s ease-in-out;

    &.opened {
        opacity: 1;

        .overlay {
            pointer-events: initial;
        }

        .content {
            scale: 1;
            opacity: 1;
        }
    }
}
