.menuItem {
    display: flex;
    align-items: center;
    gap: 6px;
}

.menuName {
    opacity: 1;
    transition: all 0.3s;
    text-wrap: nowrap;
}

.icon {
    fill: var(--inverted-primary-color);
}

.collapsed {
    .menuName {
        width: 0;
        opacity: 0;
    }
}
