:root :has(.dark) {
    --bg-color: #0e43d3;
    --inverted-bg-color: #ccc;
    --primary-color: #0ed31e;
    --inverted-primary-color: #0e43d3;
    --seconder-color: #55f846;
    --inverted-seconder-color: #6198eb;
}
